@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    background: url(../imagens/fundo.png) repeat-x;
    font-family: 'Roboto';
}
#container{
    width: 750px;
    margin: 0 auto;
}
#topo{
    height: 150px;
    background: url(../imagens/detalhe-topo.png)no-repeat right top;
    padding-top: 25px;
}
.logo{
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#topo ul{
    margin-top: 30px;
    background-color: #b10333;
    float: left;
}
#topo ul li{
    float: left;
}
#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../imagens/divisor.png) no-repeat left center;
}
#topo ul .primeiro a {
    background: none;
}
#topo ul a:hover{
    color: #69001d;
}
body.home #nav a#home,
body.bra #nav a#bra,
body.int #nav a#int,
body.eco #nav a#eco,
body.sau #nav a#sau,
body.cien #nav a#cien,
body.fot #nav a#fot
{
    color: #fff;
    background-color: #de003e;
}
#conteudo{
    margin-top: 60px;
    background-color: #f5f5f5;
}
#tres #primeiro{
    width: 270px;
    float: left;
    margin: 0px 0px 20px 195px;
}
#duas #primeiro{
    width: 555px;
    float: left;
    margin: 0px 0px 20px 195px;
}
#uma #primeiro{
    width: 750px;
    float: left;
    margin: 0px 0px 20px 0px;
}
#segundo{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}
#lateral{
    width: 180px;
    float: left;
    margin:0 0 20px -750px ;
}
#footer{
    background-color: #294c71;
    padding: 20px;
}
#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}
.caixa{
    margin: 10px 0px;
    padding: 5px 0px 5px 0px;
    background-color: #f3f3f3;
    background: url(../imagens/fundo-caixa.png);
}
h2{
    font-size: 1em;
    background-color: #294c71;
    color: white;
    padding: 5px;
}
.caixa-cont{
    background-color: #fff;
    padding: 5px;
    margin-top: 6px;
}
#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
 }
 #lateral ul a:hover{
    background-color: #f9f9f9;
    background: url(../imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
 }
 label{
    display: block;
    cursor: pointer;
 }
 input{
    padding: 5px;
    font-size: 0.9em;
    background-color: #fff;
    width: 105px;
 }
 input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
 }
 img{
    border:  2px solid #dfdfdf;
 }
 h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
 }
.destaque h3{
    background-color: #b10333;
    color: #fff;
 }
 .entrevista h3{
    background-color: #de003e;
    color: white;
 }
 #lista li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
 }
 #lista li a img{
    float: left;
    margin: 5px;
 }
 #lista a{
    text-decoration: none;
 }
 #lista li a p{
    text-decoration: none;
    font-size: 0.6em;
 }
 #lista li h3{
    color: #3e7ab9;
    font-size: 0.8em;
 }
 #lista li:hover{
    background-color: #eee;
    cursor: pointer;
 }